{% extends 'base.html' %}

{% block title %}Lista de tarefas{% endblock %}

{% block content %}

<div class="offset-1 col-10 list-div">
    <h1>Lista de tarefas</h1>

    <div class="col-12 search-div">
            <div class="row">
                <div class="col-2 add-div">
                    <a href="" class="btn btn-primary"><i class="fas fa-plus"></i>Adicionar Tarefa</a> 
                </div>

                <div class="col-8" id="linha_2">
                    <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar...">
                </div>

                <div class="col-2">
                    <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
                </div>
            </div>
        
        <ul class="task-list">
            <li class="task-item">
                <span>Título da Tarefa</span>
                <span class="fas fa-trash"></span>
                <span class="fas fa-edit"></span>
            </li>
            <li class="task-item">
                <span>Título da Tarefa</span>
                <span class="fas fa-trash"></span>
                <span class="fas fa-edit"></span>
            </li>
            <li class="task-item">
                <span>Título da Tarefa</span>
                <span class="fas fa-trash"></span>
                <span class="fas fa-edit"></span>
            </li>
            <li class="task-item">
                <span>Título da Tarefa</span>
                <span class="fas fa-trash"></span>
                <span class="fas fa-edit"></span>
            </li>
        </ul>
    </div>
</div>


{% endblock %}